
.register{
    width : 80%;    
    background : rgb(245, 243, 243);    
    
    border-radius:5px;
    overflow-x: auto;

}

.student.form{
    position : absolute;
    height : 31%;    
    top:15%;
}
.student.view{
    position : absolute;
    top: 51%;
    height: 40%;
}


.teacher.form{
    position : absolute;
    height : 21%;    
    top:15%;
}
.teacher.view{
    position : absolute;
    top: 42%;
    height: 48%;
}

.student.empty{
    position : absolute;
    top: 47%;
    right: 8%;
}

.teacher.empty{
    position : absolute;
    top: 37%;
    right: 8%;
}

table {
    border-color: gray;
    margin-top: 10px;
    margin-bottom: 5px;
    
    width: 100%;
    min-width : 1000px;
   
}

tr th{
    text-align: center;
    background: rgb(211, 209, 209);
}

tr td {
    background : rgb(245, 243, 243);
}

.table td{
    text-align: center;
}



 BODY, TABLE, TD {font-size:12px}
 BODY, TABLE, TH {font-size:12px}

